/*880*/
@media(max-width: 880px) {
    .hero__container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero__title {
        padding-top: 200px;
        font-size: 55px;
        font-weight: 400;
        line-height: 52.92px;

    }


    .hero__descr {
        font-size: 20px;
        font-weight: 400;
        line-height: 22.2px;
        letter-spacing: -8%;
    }
    
}

@media(max-width: 670px) {
    body {
        overflow: hidden;
    }

    .container {
        background-image: url(../img/360.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero__container {
        padding-left: 15px;
        padding-right: 25px;
    }

    .nav__bullet1,
    .nav__bullet2{
        display: none;
    }


    .hero__title {
        padding-top: 127px;
        font-size: 28px;
        font-weight: 400;
        line-height: 26.32px;
        letter-spacing: -0.08em;
        text-align: right;
        

    }


    .hero__descr {
        width: 206px;
        font-size: 18px;
        font-weight: 400;
        line-height: 16.92px;
        letter-spacing: -0.06em;
        text-align: right;
        
    }
}